<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Notes App</title>

</head>

<body>
    <h1>Welcome to the Notes App</h1>
    <p>This is a simple notes application where you can create, view, and manage your notes.</p>
    <p>Notes:</p>
    <ul>
        {% for note in notes %}
        <li>
            <h6>{{note.id}}</h6>
            <h5>{{note.created_at}}</h5>
            <h3>{{note.title}}</h3>
            <p>{{note.content}}</p>
            <br>
        </li>
        {% else %}
        Aún no se han creado NOTAS
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('create_note') }}">Agregar un nueva nota</a>
</body>


</html>