<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>

<body>
    <h1>Welcome to the Notes App</h1>
    <p>This is a simple notes application where you can create, view, and manage your notes.</p>

    <section>
        <a href="{{ url_for('users.login') }}">Cerrar sesión</a>
    </section>


    <h2>Notes:</h2>

    <section>
        <ul>
            {% for note in notes %}
            <li>
                <!-- Estructura jerárquica corregida -->
                <h3>{{ note.title }}</h3>
                <small>ID: {{ note.id }} | Creado: {{ note.created_at }}</small>
                <p>{{ note.content }}</p>

                <a href="{{ url_for('notes.edit_note', id=note.id) }}">Editar Nota 🖊️</a>
                <br><br>
                <form action="{{ url_for('notes.delete_note', id=note.id) }}" method="POST"
                    onsubmit="return confirm('¿Está seguro de eliminar esta nota?');">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
            {% else %}
            <li>Aún no se han creado NOTAS</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('notes.create_note') }}">Agregar una nueva nota</a>
    </section>

</body>

</html>